{% extends "index_admin.html" %}
{% block title %} Edit channel {% endblock %}

{% block content %}


<h1> Editing Channel {{channel_id}}..</h1>
<h1> Sessions that students had booked with your channel will be deleted </h1>
<h2></h2>

<form action="{{ url_for("editchannel") }}" method="POST">
  <label>Start Date (Originally {{start_date}}): </label>
  <select name="start_date">
    {% for x in date_list %}
       <option value="{{x}}">{{x}}</option>
    {% endfor %}
  </select>
  <h2></h2>


  <label>Days (Originally {{days}}): </label>
  <select name="days">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
  <h2></h2>

  <label>Capacity (Originally {{capacity}}):</label>
  <select name="capacity">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <h2></h2>

  <label>Description :</label>
  <input type="text" name="description">

  <h2></h2>
  <label>Passcode :</label>
  <input type="text" name="passcode">
  <input type="submit" value="submit">
</form>


{% endblock %}
