{% extends "index.html" %}
{% block title %} Sign Up Now! {% endblock %}

{% block content %}

<form action="#" method="POST">
  <select name="type">
    <option value="student">Student</option>
    <option value="staff">Staff</option>
  </select>

  <h2> Enter username: </h2>
  <input type="text" name="username">
  <h2> Enter email: </h2>
  <input type="text" name="email">
  <h2> Enter your UOW ID: </h2>
  <input type="text" name="uow_id">
  <h2> Password: </h2>
  <input type="text" name="password">
	<br><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}
